html,body{margin:0;height:100%}.world{position:relative;min-width:640px;height:100%;overflow:hidden;border:1px solid #f0f;background-image:linear-gradient(to bottom,#0793f9 0%,#95c6ff 350px,#05b548 350px,#05b548 360px,#795636 360px,#3f2d1c 100%)}
.wizard,.tree,.leaf{position:absolute;transform-origin:bottom center}
.wizard{z-index:10;width:96px;height:106px;background:url('../img/wizard.png') no-repeat}
.tree{z-index:8;width:225px;height:252px;background:url('../img/tree-large.png') no-repeat}
.move-x{top:244px;left:30px;transform:translateX(250px)}
.levitate{top:244px;left:220px;transform:translateY(-200px) translateX(280px) translateY(200px)}
.small-tree{top:180px;left:620px;transform:scale(.25)}
.giant{top:220px;left:760px;transform:scale(3)}
.rotate-air{top:270px;left:980px;transform:translateY(-200px) rotate(45deg)}
.skewed{top:244px;left:1140px;transform:skewX(30deg)}
.combo{top:120px;left:1320px;width:90px;height:90px;background:url('../img/field-maple-summer-leaf-clipart-md.png') center/contain no-repeat;transform:translateX(40px) translateY(20px) rotate(35deg)}
