html,
body {
  margin: 0;
  height: 100%;
}

.world {
  position: relative;
  min-width: 640px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #f0f;
  background-image: linear-gradient(
    to bottom,
    #0793f9 0%,
    #95c6ff 350px,
    #05b548 350px,
    #05b548 360px,
    #795636 360px,
    #3f2d1c 100%
  );
}

.wizard {
  position: absolute;
  z-index: 10;
  top: 244px;
  left: 30px;
  width: 96px;
  height: 106px;
  background: url(../img/wizard.png) 0 0 no-repeat;
}

.tree {
  position: absolute;
  z-index: 8;
  top: 178px;
  left: 400px;
  width: 225px;
  height: 252px;
  background: url(../img/tree-large.png) 0 0 no-repeat;
}

.leaves {
  position: absolute;
  z-index: 9;
  top: 178px;
  left: 400px;
  width: 165px;
  height: 70px;
  background-image: url(../img/leaf.png);
  background-repeat: repeat-x;
  background-size: 40px auto;
  background-position: 0 0;
}

.sun {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffeb3b, #ff9800);
  box-shadow: 0 0 50px #ffeb3b, 0 0 100px #ff9800;
}

.cloud {
  position: absolute;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
}

.cloud-1 {
  top: 65px;
  left: 220px;
  width: 150px;
  height: 45px;
}

.cloud-1::before {
  width: 60px;
  height: 60px;
  top: -28px;
  left: 18px;
}

.cloud-1::after {
  width: 70px;
  height: 70px;
  top: -35px;
  right: 18px;
}

.cloud-2 {
  top: 115px;
  right: 150px;
  width: 175px;
  height: 52px;
}

.cloud-2::before {
  width: 75px;
  height: 75px;
  top: -38px;
  left: 16px;
}

.cloud-2::after {
  width: 60px;
  height: 60px;
  top: -30px;
  right: 24px;
}
